extends ../layouts/default

block content
	.jumbotron.else
		h1 Credits:

		h2 Con: <span> Amparo Lavezzo, Francesca Ragozzino, Federica Salvati </span>

		h2 Direttore della fotografia: <span> Claudio Romano </span>

		h2 Aiuto Regia: <span> Lorenzo Puntoni </span>

		h2 Montaggio: <span> Maria Iovine </span>

		h2 Fonico di presa diretta: <span> Fabio Fortunati </span>

		h2 Montaggio del suono: <span> Eric Guerrino </span>

		h2 Direttore di produzione: <span> Michele Robibaro </span>

		h2 Segretaria di edizione: <span> Francesca Marchionne </span>

		h2 Make up: <span> Paola Giglio </span>

		h2 Scenografia: <span> Cinzia Iademarco </span>

		h2 Assistente attrici: <span> Valentina Cognatti </span> 

		h2 Macchinista: <span> Flavio Mattei </span>

		h2 Assistente di produzione: <span> Giulia Gentili </span>

		h2 Elettricista: <span>Ulisse Del Manso</span>

		h2 Secondo microfonista: <span>Renato Fiorito</span>

		h2 Fotografo di scena: <span>Agostino Amato</span>

		h2 Backstage: <span>Andrea D'Amelio</span>

		h2 Location Manager: <span>Andrea Iacobini</span>

		h2 Catering: <span>Il Barone Rampante</span>

		h2 Sottotitoli:<span> Eleonora Astore</span>

		h2 Ringraziamenti: <span>Amalia Bonagura, Fabio D'Amelio, Francesco Ghisi, Betty L'Innocente, Cristina Lazazzera, Gianluca Sansevrino.</span>