extends ../layouts/default

block content
	.jumbotron.else
		h1 Photogallery
		h4 Backstage Photogallery 
		<div class="image-set">
		<a class="example-image-link" href="images/backstage/backstage1.jpg" data-lightbox="Backstage" data-title="Backstage"><img class="example-image" src="images/backstage/backstageThumb.jpg" alt=""/></a>
		<a class="example-image-link" href="images/backstage/backstage2.jpg" data-lightbox="Backstage" data-title="Backstage"></a>
		<a class="example-image-link" href="images/backstage/backstage3.jpg" data-lightbox="Backstage" data-title="Backstage"></a>
		<a class="example-image-link" href="images/backstage/backstage4.jpg" data-lightbox="Backstage" data-title="Backstage"></a>
		<a class="example-image-link" href="images/backstage/backstage5.jpg" data-lightbox="Backstage" data-title="Backstage"></a>


		</div>

		h4 Shooting Photogallery 
		<div class="image-set">
		<a class="example-image-link" href="images/demopage/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/demopage/thumb-3.jpg" alt=""/></a>
		<a class="example-image-link" href="images/demopage/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="images/demopage/thumb-4.jpg" alt="" /></a>
		<a class="example-image-link" href="images/demopage/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="images/demopage/thumb-5.jpg" alt="" /></a>
		<a class="example-image-link" href="images/demopage/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="images/demopage/thumb-6.jpg" alt="" /></a>
		<a class="example-image-link" href="images/demopage/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/demopage/thumb-3.jpg" alt=""/></a>
		<a class="example-image-link" href="images/demopage/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="images/demopage/thumb-4.jpg" alt="" /></a>
		<a class="example-image-link" href="images/demopage/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="images/demopage/thumb-5.jpg" alt="" /></a>
		<a class="example-image-link" href="images/demopage/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="images/demopage/thumb-6.jpg" alt="" /></a>
		</div>