extends ../layouts/default

block content
	.jumbotron.home
		<a href="http://jumpthecut.com/"> <img class=prizes src="/images/prizes/jtc2.jpg"/> </a>
		h5 Amygdala 
		h4 directed by
		h4 Marco D'Amelio
	.container
		h2 “Amygdala” is a 20 minute short film. Three young women with different social and cultural backgrounds, participate in the casting for a TV fiction. After their audition, the three young women are locked in the rehearsal room, filmed ceaselessly and tortured. Their torturer doesn’t communicate with them – only sounds and noises. He just shoots and keeps on shooting over and over again.