extends ../layouts/default

block content
	.jumbotron.press
		h1 Press

		h4 The New York Times: "This movie is amazing!"

		h4 The Daily Mail: "Booooring!"

		h4 Corriere dello Sport: "Oscar a miglior attore protagonista a Francesco Totti"