extends ../layouts/default

block content
	.jumbotron.else
		h1 Videogallery
		h4 Teaser
		<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F106849333&src_secure=1&url=http%3A%2F%2Fvimeo.com%2F106849333&image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F490081826_1280.jpg&key=dd18d76625c24f81bbc29995c52d2732&type=text%2Fhtml&schema=vimeo" width="1280" height="720" scrolling="no" frameborder="0" allowfullscreen></iframe>
		h4 Backstage
		<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FD3GqpXaCgLc%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DD3GqpXaCgLc&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FD3GqpXaCgLc%2Fhqdefault.jpg&key=dd18d76625c24f81bbc29995c52d2732&type=text%2Fhtml&schema=youtube" width="854" height="480" scrolling="no" frameborder="0" allowfullscreen></iframe> </div>

